@mixin theme-font-face($name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
    src:
      url("#{$path}.woff2") format("woff2"),
      url("#{$path}.woff") format("woff"),
      url("#{$path}.ttf") format("truetype"),
      url("#{$path}.svg##{$name}") format("svg");
  }
}
