$theme-primary: #d36838;
$theme-secondary: #e0e0db;
$theme-dark: #181512;
$theme-border: #cbcbcb;
$theme-danger: #dc3545;

$theme-font-family: "Muli", sans-serif;
$theme-font-family-heading: "Muli-Bold", sans-serif;
$theme-font-family-label: "Muli-Bold", sans-serif;
$theme-font-weight-light: 300;
$theme-font-weight-regular: 400;
$theme-font-weight-semibold: 600;
$theme-font-weight-bold: 700;
