$theme-primary: #d36838;
$theme-secondary: #e0e0db;
$theme-dark: #181512;
$theme-border: #cbcbcb;
$theme-danger: #dc3545;

$theme-font-bold: "Muli-Bold", Arial, sans-serif;
$theme-font-semibold: "Muli-SemiBold", Arial, sans-serif;
$theme-font-regular: "Muli", Arial, sans-serif;
$theme-font-light: "Muli-Light", Arial, sans-serif;
